/* CUSTOM CSS */

/* ### SCSS PARTIAL IMPORT ### */

@import 'variables';

/* ### FONTS ### */

@import url('https://fonts.googleapis.com/css?family=Oswald');

/* ### GLOBAL DEFINITIONS ### */

body{
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Oswald', sans-serif;
	color:#111;
}
.base-blue{
	color:$base-blue !important;
}
.base-red{
	color:$base-red !important;
}

.outermost{
	overflow: hidden;
}

#header{
	position: fixed;
	background-color: #fff;
	/*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);*/
	border-bottom:1px solid #d5d5d5;
	top:0;
	left: 0;
	width:100%;
	z-index: 1;
	#main-navigation{
		float: right;
		padding-top: 15px;
		ul{
			li{
				list-style: none;
				display: inline-block;
				margin-left:5px;
				a{
					padding: 7px 10px;
					color:#222;
					text-transform: uppercase;
					font-family: 'Oswald', sans-serif;
				}
			}
		}
	}
}

/* ### BANNER ### */

.banner{
	margin-top: 80px;
	max-height: 300px;
	overflow: hidden;
	.overlay{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		&.overlay1{
			background-color:rgba(0,0,0, .2);
		}
	}
	.container{
		position:relative;
	}
	.banner-text{
		position: absolute; 
		transform: translate(-50%,-50%); 
		top:50%; 
		left: 50%;
		h1{
			font-size: 150px;
			font-weight: bold;
			color:#111;
			font-family: 'Oswald', sans-serif;
		}
	}
}

/* MAIN CONTENT */

#main-content.main{
	margin-top:50px;
}

/* THUMBNAIL SECTIONS */

.thumbnail-section{
	padding-bottom: 50px;
	.section-heading{
		h2{
			text-transform: uppercase;
			color:#222;
			font-family: 'Oswald', sans-serif;
			color:$base-blue;
			span{
				color:$base-red;
				font-weight: normal;
			}
		}
	}
	.section-body{
		.content-inner-wrapper{
			padding-bottom: 15px;
		}
		.content-images{
			img{
				max-width: 100%;
				height:auto;
			}
		}
		.content-text{
			.field-heading{
				h4{
					font-family: 'Oswald', sans-serif;
					.base-blue{
						text-transform: uppercase;
					}
					.base-red{
						font-weight: normal;
					}
				}
			}
			.field-description{
				
			}
			.view-list{
				a{
					text-transform: uppercase;
					color:#222;
					font-family: 'Oswald', sans-serif;
					padding: 7px 15px;
					display: inline-block;
					border: 1px solid #d5d5d5;
					text-decoration: none !important;
					-webkit-border-radius: 4px;
					-moz-border-radius: 4px;
					border-radius: 4px;
					&:hover{
						border: 1px solid #b5b5b5;
						background-color: #e5e5e5;
					}
				}
			}
		}
	}
	.show-more{
		a{
			margin-top:15px;
			text-transform: uppercase;
			color:#222;
			font-family: 'Oswald', sans-serif;
			padding: 7px 15px;
			font-size: 20px;
			display: inline-block;
			border: 1px solid #d5d5d5;
			text-decoration: none !important;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			&:hover{
				border: 1px solid #b5b5b5;
				background-color: #e5e5e5;
			}
		}
	}
}

/* DETAILS */

#details #main-content{
}
.details-list{
	.block-list-head img, .block-list-items img{
		margin-bottom: 10px;
	}
	h1{
		text-transform: uppercase;
	}
	.side-bar{ 
		.side-bar-heading{
			margin-bottom: 15px;
			span{
				font-family: 'Oswald', sans-serif;
				color:#111;
				font-size: 25px;
				text-transform: uppercase;
			}
		}
		.related-item{
			margin-bottom: 15px;
			.related-item-images{
				float: left;
				width:35%;
				img{
					margin:0;
				}
			}
			.related-item-text{
				float: left;
				width:65%;
				padding-left: 10px;
				h3{
					font-size:16px;
					font-weight:normal;
					margin-top: 0;
				}
			}
		}
		.show-more{
		a{
			margin-top:15px;
			text-transform: uppercase;
			color:#222;
			font-family: 'Oswald', sans-serif;
			padding: 7px 15px;
			font-size: 16px;
			display: inline-block;
			border: 1px solid #d5d5d5;
			text-decoration: none !important;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			&:hover{
				border: 1px solid #b5b5b5;
				background-color: #e5e5e5;
			}
		}
	}
	}
}